.aboutContainer {
    width: 280px;
    margin: 100px auto;
}

.wp-block-image {
    padding: 0px;
    margin: 0px;
}

.aboutContainer img {
    height: 250px;
    width: 280px;
}

.aboutContainer p {
    text-align: justify;
}