.content {
    width: 280px;
    margin: 100px auto;
}

.wp-block-image {
    padding: 0px;
    margin: 0px;
}

.content img {
    height: 230px;
    width: 280px;
}

.content p {
    text-align: justify;
}

.content a {
    color: black;
}


/* Modal */

.modal {
    display: none;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.modal img {
    height: 280px;
    width: 320px;
}