.content {
    width: 300px;
    margin: 100px auto;
}

.wp-block-image,
.content ol {
    padding: 0px;
    margin: 0px;
}

.content img {
    height: 230px;
    width: 300px;
    cursor: pointer;
}

.content li {
    display: block;
}

.content li:hover {
    background-color: initial;
}

.content p {
    text-align: justify;
    margin-top: 20px;
}

figcaption {
    text-align: center;
}

.content a {
    text-decoration: underline;
    color: rgb(27, 73, 94);
}


/* Modal */

.modal {
    display: none;
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal p,
.modal ol,
.modal li,
.modal figcaption {
    display: none;
}

.modal img {
    height: 300px;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (min-width: 450px) {
    .content {
        width: 400px;
    }
    .content img {
        height: 300px;
        width: 400px;
    }
}

@media all and (min-width: 550px) {
    .content {
        width: 500px;
    }
    .content img {
        height: 390px;
        width: 500px;
    }
    .content p,
    .content li {
        font-size: 1.1em;
    }
    /* Modal */
    .modal img {
        height: 350px;
        max-width: 500px;
    }
}

@media all and (min-width: 700px) {
    .content {
        width: 600px;
    }
    .content img {
        height: 430px;
        width: 600px;
    }
    .content p {
        text-align: left;
    }
    /* Modal */
    .modal img {
        height: 400px;
        max-width: 600px;
    }
}

@media all and (min-width: 900px) {
    .content {
        width: 800px;
    }
    .content h1 {
        font-size: 2.5em;
        padding-bottom: 30px;
    }
    .content img {
        height: 340px;
        width: 400px;
        margin: 5px 20px 20px 0px;
        float: left;
    }
    figcaption {
        display: none;
    }
    .content p {
        text-align: justify;
        font-size: 1.15em;
    }
    /* Modal */
    .modal img {
        height: 450px;
        max-width: 700px;
    }
}

@media all and (min-width: 1100px) {
    /* Modal */
    .modal img {
        height: 500px;
        max-width: 800px;
    }
}