body {
    display: grid;
    font-family: FranklinGothic URW, sans-serif;
    min-height: 100vh;
    margin: 0px;
    background-color: #E4E4F0;
}

.headerImage {
    background-image: url(/images/1.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}

a {
    text-decoration: none;
    color: white;
}


/*Logo*/

h1 {
    font-family: "Kallisto", sans-serif;
    font-size: 1.5em;
    position: absolute;
    top: 7px;
    left: 10px;
    color: white;
    margin: 0px;
}

span {
    text-transform: uppercase;
}


/*Menu*/

nav {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #0b3b42;
    z-index: 1000;
}

ul {
    display: block;
    width: 160px;
    margin: 0px auto;
    padding: 100px 0px;
    text-align: center;
}

li {
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

li a {
    text-transform: uppercase;
    font-family: "Isonorm D", sans-serif;
    font-size: 1.8em;
}

.active {
    text-decoration: underline;
    color: white;
}


/*Menu bars*/

.fa-bars,
.fa-times {
    color: white;
    font-size: 1.6em;
    position: absolute;
    top: 10px;
    right: 15px;
}

.fas:hover {
    cursor: pointer;
}

.fa-times {
    font-size: 1.8em;
}


/* Button */

.globalButton {
    width: 140px;
    margin: 40px auto;
}

.globalButton a,
.globalButton button {
    font-family: Isonorm D, sans-serif;
    font-size: 1em;
    color: black;
    background-color: rgb(219, 132, 0);
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.253);
    padding: 10px 20px;
}

.globalButton button {
    padding: 10px 30px;
}

.globalButton a:hover,
.globalButton button:hover {
    background-color: #07272c;
    color: white;
    cursor: pointer;
}


/* Footer */

footer {
    background-color: #07272cc4;
    color: white;
    text-align: center;
    padding: 40px 0px;
}

footer p {
    margin: 0px;
}