h2 {
    font-family: "Isonorm D", sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: center;
    margin: 70px 0px 50px;
}

p {
    font-size: 0.9em;
}


/* All sections */

.latestSection,
.aboutSection,
.signUpSection {
    width: 320px;
    margin: 150px auto;
    text-align: center;
}


/* Latest posts section */

.arrows {
    position: relative;
    top: -45px;
    display: flex;
    justify-content: space-between;
    margin: 0px -35px;
}

.fa-chevron-left,
.fa-chevron-right {
    color: rgb(7, 39, 44);
    font-size: 2.5em;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: rgba(219, 131, 0, 0.678);
    transform: scale(1.3);
}

.latestPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
}

.latestPosts a {
    color: black;
    margin: 0px 40px;
}

.slides p {
    display: none;
}

.slides .wp-block-image {
    padding: 0px;
    margin: 0px;
}

.slides img {
    height: 250px;
    width: 320px;
}


/* About section */

.aboutSection p {
    margin: 0px 10px;
}


/* Sign up section */

form label {
    display: none;
}

input {
    border: 1px solid #000000;
    border-radius: 10px;
    width: 200px;
    padding: 12px;
}

#email {
    margin-top: 25px
}

input:focus {
    border: 2px solid #000000;
}

#fullNameError,
#emailError {
    display: none;
    font-size: 0.8em;
    text-align: left;
    color: rgb(172, 23, 23);
    padding: 0px;
    margin: 0px 0px 0px 50px;
}

.formContainer p {
    margin: -30px 0px 40px;
}