h2 {
    font-family: "Isonorm D", sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: center;
    margin: 70px 0px 50px;
}

p {
    font-size: 0.9em;
}

header {
    margin-bottom: 0px;
}


/* All sections */

.latestSection,
.aboutSection,
.signUpSection {
    width: 280px;
    margin: 150px auto;
    text-align: center;
}


/* Latest posts section */

.arrows {
    display: none;
    position: relative;
    top: -150px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
}

.fa-chevron-left,
.fa-chevron-right {
    color: rgb(7, 39, 44, 0.6);
    font-size: 2.5em;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: rgba(219, 131, 0, 0.6);
    transform: scale(1.3);
}

.latestPosts {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 220px;
    margin: 0px auto;
}

.latestPosts a {
    color: black;
    margin: 0px 40px;
}

.slides {
    margin: 0px 10px;
}

.slides:hover {
    transform: scale(1.05);
}

.slides h3 {
    background-color: white;
    padding: 20px 10px;
    margin-top: -25px;
}

.slides h2,
.slides h3,
.slides h4,
.slides p,
.slides li {
    display: none;
}

.slides .wp-block-image {
    padding: 0px;
    margin: 0px;
}

.slides img {
    height: 150px;
    width: 200px;
}


/* About section */

.aboutSection p {
    margin: 0px 10px;
}


/* Sign up section */

form label {
    display: none;
}

input {
    border: 1px solid #000000;
    border-radius: 10px;
    width: 200px;
    padding: 12px;
}

#email {
    margin-top: 25px
}

input:focus {
    border: 2px solid #000000;
}

#fullNameError,
#emailError {
    display: none;
    font-size: 0.8em;
    text-align: left;
    color: rgb(172, 23, 23);
    padding: 0px;
    margin: 0px 0px 0px 30px;
}

.formContainer p {
    margin: -20px 0px 40px;
}


/* Media Queries */

@media all and (min-width: 500px) {
    h2 {
        font-weight: bold;
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    /* All sections */
    .latestSection,
    .aboutSection,
    .signUpSection {
        width: 400px;
        margin: 150px auto;
        text-align: center;
    }
    /* Latest posts section */
    .latestPosts {
        width: 330px;
    }
    .slides img {
        height: 170px;
        width: 220px;
    }
    /* Sign up section */
    form {
        width: 225px;
        margin: 0px auto;
    }
    #fullNameError,
    #emailError {
        margin: 0px;
    }
}

@media all and (min-width: 600px) {
    /* All sections */
    .latestSection,
    .aboutSection,
    .signUpSection {
        width: 500px;
        margin: 170px auto;
    }
    /* Latest posts section */
    .latestPosts {
        width: 400px;
    }
    /* Sign up section */
    input {
        width: 220px;
    }
    .formContainer p {
        margin: -20px auto 40px;
        width: 400px;
    }
    form {
        width: 246px;
        margin: 0px auto;
    }
}

@media all and (min-width: 700px) {
    /* All sections */
    .latestSection,
    .aboutSection,
    .signUpSection {
        width: 600px;
    }
    /* Latest posts section */
    .latestPosts {
        width: 500px;
    }
}

@media all and (min-width: 800px) {
    /* Latest posts section */
    .latestSection {
        width: 750px;
    }
    .latestPosts {
        width: 650px;
    }
    .slides img {
        height: 200px;
        width: 250px;
    }
}

@media all and (min-width: 1000px) {
    p {
        font-size: 1.1em;
    }
    /* Latest posts section */
    .latestSection {
        width: 850px;
    }
    .latestPosts {
        width: 750px;
    }
    .slides img {
        height: 220px;
        width: 270px;
    }
}

@media all and (min-width: 1100px) {
    /* Latest posts section */
    .latestSection {
        width: 950px;
    }
    .latestPosts {
        width: 850px;
    }
    .slides img {
        height: 240px;
        width: 290px;
    }
}

@media all and (min-width: 1200px) {
    /* Latest posts section */
    .latestSection {
        width: 1050px;
    }
    .latestPosts {
        width: 950px;
    }
    .slides img {
        height: 300px;
        width: 350px;
    }
}

@media all and (min-width: 1300px) {
    /* Latest posts section */
    .latestSection {
        width: 1150px;
    }
    .latestPosts {
        width: 1050px;
    }
    .slides img {
        height: 350px;
        width: 400px;
    }
}

@media all and (min-width: 1400px) {
    /* Latest posts section */
    .latestSection {
        width: 1250px;
    }
    .latestPosts {
        width: 1150px;
    }
}